@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --secondary-background: #F9F9FA;
    --foreground: #0a0a0a --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #2463eb;
    --primary-hover: #5989f2;
    --primary-foreground: #ffffff;
    --secondary: #f0f0f0;
    --secondary-hover: #e0e0e0;
    --secondary-foreground: #000000;
    --muted: #f0f0f0;
    --muted-foreground: #737373;
    --accent: #f0f0f0;
    --accent-foreground: #0a0a0a;
    --destructive: #ff0000;
    --destructive-foreground: #ffffff;
    --border: #e0e0e0;
    --input: #e0e0e0;
    --ring: #e0e0e0;
    --chart-1: #f0f0f0;
    --chart-2: #f0f0f0;
    --chart-3: #197 37% 24%;
    --chart-4: #43 74% 66%;
    --chart-5: #27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: #0a0a0a;
    --secondary-background: #f0f0f0;
    --foreground: #ffffff;
    --card: #0a0a0a;
    --card-foreground: #ffffff;
    --popover: #0a0a0a;
    --popover-foreground: #ffffff;
    --primary: #000000;
    --primary-hover: #333333;
    --primary-foreground: #ffffff;
    --secondary: #0a0a0a;
    --secondary-foreground: #ffffff;
    --muted: #0a0a0a;
    --muted-foreground: #737373;
    --accent: #0a0a0a;
    --accent-foreground: #ffffff;
    --destructive: #ff0000;
    --destructive-foreground: #ffffff;
    --border: #0a0a0a;
    --input: #0a0a0a;
    --ring: #0a0a0a;
    --chart-1: #220 70% 50%;
    --chart-2: #160 60% 45%;
    --chart-3: #30 80% 55%;
    --chart-4: #280 65% 60%;
    --chart-5: #340 75% 55%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
